<div class="w-full flex items-center justify-between shadow-lg p-5">
  <header class="py-4 flex items-start flex-col">
    <div class="flex justify-between items-start gap-2">
      <div class="text-xl font-bold"><%= title %></div>
      <div></div>
    </div>
  </header>
</div>
