<!--index.ejs-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User | Testing Project</title>
    <link rel="stylesheet" href="/css/gobole.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/tailwindcss.js"></script>
    <script src="/js/sweetalert2.js"></script>
  </head>
  <body
    class="flex items-center justify-center min-h-screen bg-cover bg-center relative overflow-hidden bg-[url(../img/background.png)]"
  >
    <div
      class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-sm border border-gray-200 relative overflow-hidden"
    >
      <div class="flex flex-col items-center">
        <img
          src="/img/admin/logo.png"
          alt="Profile Picture"
          class="w-14 h-14 bg-cover mt-4"
        />
        <h2 class="text-xl font-semibold mt-2">Sign in to continue</h2>
      </div>
      <form class="mt-6" id="login">
        <div class="flex flex-col gap-2 items-start w-full">
          <label class="block text-sm font-medium text-gray-700">Email</label>
          <input
            id="email"
            type="email"
            placeholder="Email address"
            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none"
          />
          <small class="text-red-700 hidden" id="email_not_found"
            >Email is required.</small
          >
        </div>
        <div class="flex flex-col gap-2 justify-start items-start w-full">
          <label class="block text-sm font-medium text-gray-700 mt-4"
            >Password</label
          >
          <div class="relative w-full">
            <input
              id="password"
              type="password"
              placeholder="Password"
              class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none"
            />
            <button
              type="button"
              id="togglePassword"
              class="absolute top-[15px] right-2 text-gray-500"
            >
              <img
                id="img-password"
                src="/img/eye-password-hide.png"
                alt="password"
                class="w-5 h-5"
              />
            </button>
          </div>
          <small class="text-red-700 hidden" id="password_not_found"
            >Password is required.</small
          >
        </div>

        <button
          type="submit"
          class="mt-6 w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 rounded-md text-center font-semibold"
        >
          Sign In
        </button>
      </form>
    </div>
    <script src="/js/admin/login.js"></script>
  </body>
</html>
